@tailwind base;
@tailwind components;
@tailwind utilities;
@import "components/variabele";

.foto img {
    max-width: 100px;
    min-width: 100px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.footer{
    margin-top: 58px;
    padding: 10px;
    text-align: center;
}

.logo{
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav{
    position: relative;
    left: -500px;
}

.foto{
    display: flex;
    gap: 5px;
}

.toolbar{
    background-color: $primary;
    width: 100%;
}

.footer{
    background-color: $primary;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Stijl voor oneven rijen */
.index-row:nth-child(odd) {
    background-color: #c2c2c2;
}

/* Stijl voor even rijen */
.index-rowr:nth-child(even) {
    background-color: #ffffff;
}

.show{
    background-color: rgb(203, 128, 234);
    border: 1px solid rgb(203, 128, 234);
}

.show:hover{
    background-color: rgb(137, 91, 156);
    border: 1px solid rgb(137, 91, 156);
}

.edit{
    background-color: rgb(255, 153, 0);
    border: rgb(255, 153, 0);
}

.edit:hover{
    background-color: rgb(169, 103, 4);
    border: rgb(169, 103, 4);
}

.table{
    border: 1px solid rgb(174, 174, 174);
    margin: 0;
}

.create-update-container{
    min-width: 300px;
    background-color: $primary;
    box-shadow: 1px 10px 30px -15px;
    padding: 10px;
    border-radius: 10px;
    margin: 10%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2{
    background-color: $primary;
}

.home-container{
    margin: 0 10px;
}

.show-header{
    background-color: white;
}