@tailwind base;
@tailwind components;
@tailwind utilities;
@import "components/variabele";

.foto img {
    max-width: 100px;
    min-width: 100px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.footer{
    margin-top: 40.5px;
    padding: 10px;
    text-align: center;
}

.logo{
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav{
    position: relative;
    left: -500px;
}

.foto{
    display: flex;
    gap: 5px;
}

.toolbar{
    background-color: $primary;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    @media (max-width: 480px) {
        font-size: 12px;
        padding: 6px;
      }

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 8px;
      flex-direction: column;
      align-items: flex-start;
    }
}

.footer{
    background-color: $primary;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.show{
    background-color: rgb(203, 128, 234);
    border: 1px solid rgb(203, 128, 234);
}

.show:hover{
    background-color: rgb(137, 91, 156);
    border: 1px solid rgb(137, 91, 156);
}

.edit{
    background-color: rgb(255, 153, 0);
    border: rgb(255, 153, 0);
}

.edit:hover{
    background-color: rgb(169, 103, 4);
    border: rgb(169, 103, 4);
}

.swipe{
    color: rgb(255, 255, 255);

    @media(max-width: 640px){
        color: black;
    }
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: -13px;

    @media (max-width: 640px) {
      display: block; // or display: inline-block; or display: grid;
      margin-left: 20px; // optional: adjust spacing for mobile
      margin-right: 20px;
    }
  }
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.home-container{
    margin: 0 10px;
}
.table-container{
    margin-bottom: 113px;
}
.create-update-container{
    min-width: 300px;
    background-color: $primary;
    box-shadow: 1px 10px 30px -15px;
    padding: 10px;
    border-radius: 10px;
    margin: 10%;
}

.tables{
    display: flex;
    gap: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2{
    background-color: $primary;
    width: 100%;
    max-width: 28rem;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    border-radius: 0.5rem;

    @media (max-width: 640px) {
        max-width: 20rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
}

.show-header{
    background-color: white;
}
