@tailwind base;
@tailwind components;
@tailwind utilities;
@import "components/variabele";

.foto img {
    max-width: 100px;
    min-width: 100px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.foto{
    display: flex;
    gap: 5px;
}

.toolbar{
    background-color: $primary;
    width: 100%;
}

/* Stijl voor oneven rijen */
.index-row:nth-child(odd) {
    background-color: #c2c2c2;
}

/* Stijl voor even rijen */
.index-rowr:nth-child(even) {
    background-color: #ffffff;
}

.table{
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
    width: 100%;
    overflow-x: auto;
    display: block;
}

.create-update-container{
    min-width: 300px;
    background-color: $primary;
    box-shadow: 1px 10px 30px -15px;
    padding: 10px;
    border-radius: 10px;
    margin: 10%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2{
    background-color: $primary;
}

.home-container{
    margin: 0 10px;
}